<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611285423032-8jeg3v91jkj4gad913qef81dqeooks1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611285423032-8jeg3v91jkj4gad913qef81dqeooks1e</string>
	<key>API_KEY</key>
	<string>AIzaSyCgTc20P6359DvgmbowyQaixnYef6fkOX8</string>
	<key>GCM_SENDER_ID</key>
	<string>611285423032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luxaplex.FitnestX</string>
	<key>PROJECT_ID</key>
	<string>fitnessx-562cb</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessx-562cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611285423032:ios:6f4abf7b254a7e088a354d</string>
</dict>
</plist>